.hero_outter_wrapper {
  height: 754px;
  width: 100%;
  background-color: rgba(33, 63, 123, 1);
  overflow: hidden;

  .hero_inner_wrapper {
    margin-top: 72px;

    .hero_background_text {
      position: relative;
      bottom: 150px;
      flex-direction: column;
      font-weight: 800;
      color: rgba(254, 254, 254, 0.07);


      .text_first_line {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        white-space: nowrap;
        height: 577.75px;
        font-size: 415.44px;
        line-height: 565.76px;
        overflow: hidden;
      }

      .text_second_line {
        position: relative;
        bottom: 215px;
        right: 50px;
        font-size: 480px;
        line-height: 700.11px;
      }
    }

    .hero_front_section {
      position: absolute;
      top: 72px;
      left: 0px;
      width: 100%;
      display: flex;
      justify-content: center;

      .front_inner_section {
        position: relative;
        width: 1280px;
        height: 754 - 72px;

        .front_inner_image {
          position: relative;
          left: 160px;
          bottom: -20px;
        }

        .front_inner_slogan {
          width: 547px;
          height: 258.16px;
          position: absolute;
          top: 513px;
          left: 824px;
          display: flex;
          flex-direction: column;
        }
        
        .front_inner_mini {
          display: flex;
          flex-direction: column;
          width: 286.1px;
          height: 46px;
          position: absolute;
          top: 362px;
          left: 1126px;
          font-weight: 300;
          font-size: 19.84px;
          line-height: 27.02px;
          color: rgba(196, 196, 196, 1);

        }

        .front_inner_effect {
          position: absolute;
          top: 391px;
          left: 0;
        }

        .front_inner_cta {
          width: 305.69px;
          height: 56px;
          position: absolute;
          left: 50px;
          top: 518px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            width: 172px;
            height: 56px;
            border-radius: 32px;
            padding: 18px 34px 18px 34px;
            border: none;
          }
        }

        .inner_main_text {
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: 272px;
          left: 140px;
          width: 1182px;
          height: 50.09px;
          font-size: 42.93px;
          line-height: 50.31px;
        }
      }
    }
  }
}
