* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Price Tier section */
.priceTier {
  width: 1920px;
  height: 508px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
}

.priceTier--cards {
  display: flex;
  flex-direction: row;
  min-width: 1170px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.borderTop-basic {
  content: "";
  position: absolute;
  border-top: 4px solid #000;
  top: 0;
  width: 100%;
}

.borderTop-standard {
  content: "";
  position: absolute;
  border-top: 4px solid #5b99b3;
  top: 0;
  width: 100%;
}

.borderTop-premium {
  content: "";
  position: absolute;
  border-top: 4px solid #fc5252;
  top: 0;
  width: 100%;
}

.priceTier--card {
  position: relative;
  display: flex;
  min-width: 370px;
  min-height: 404px;
  padding: 0px 0px 30px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  gap: 26px;
  box-shadow: 10px 10px 100px 10px rgba(96, 95, 95, 0.25);
}

.priceTier--card-title {
  gap: 15px;
}

.priceTier--card-title-content  {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.priceTier--card-title-price {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.priceTier--card-content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 159px;
  min-width: 102px;
  gap: 15px;
}

.priceTier--cards ul {
  list-style: none;
}

.priceTier--card-button {
  min-width: 150px;
  min-height: 56px;
  background-color: white;
  color: #5b99b3;
  border: 1px solid #5b99b3;
  border-radius: 8px;
}

.priceTier--card-button:hover {
  background-color: #5b99b3;
  color: white;
  border: 1px solid #5b99b3;
}

.priceTier--card-button:focus {
  background-color: #5b99b3;
  color: white;
  border: 1px solid #5b99b3;
}

.unavailable {
  color:rgba(34, 34, 34, 1);
  opacity: 50%;
}




/* Categories section */
.categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.categories--title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 10px;
}

.categories--cards {
  display: flex;
  flex-direction: row nowrap;
  width: 1920px;
  height: 326px;
  gap: 30px;
}

.categories--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 360px;
  height: 326px;
  padding: 56px 36px 0px 36px;
  border-radius: 24px;
  gap: 30px;
}

.categories--cards-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 190px;
  height: 130px;
  gap: 30px;
}

.categories--cards-popCard-content {
  width: 288px;
  height: 130px;
  gap: 30px;
}

.categories--cards-popCard {
  background-color: rgba(219, 132, 29, 0.1);
}

.categories--cards-folkCard {
  background-color: rgba(252, 82, 82, 0.1);
}

.categories--cards-instrumentalCard {
  background-color: rgba(91, 153, 179, 0.8);
}

.categories--cards-rockCard {
  background-color: rgba(192, 0, 150, 0.1);
}

.categories--cards-jazzCard {
  background-color: rgba(132, 196, 255, 0.1);
}